.HeaderLayout {
  .site-page-header-responsive {
    border: 1px solid rgb(235, 237, 240);
    background-color: white;
  }
  .number-card {
    padding: 16px;
    margin-bottom: 24px;
    cursor: pointer;
  }
}